
body {
    margin: 2em;
}

div#text pre {
    max-width: 40em;
    white-space: pre-line;
}

.tint_1   { cursor: pointer; background-color: #FFC;}
.tint_2   { cursor: pointer; background-color: #FF9;}
.tint_3   { cursor: pointer; background-color: #FF6;}
.tint_4   { cursor: pointer; background-color: #FF3;}
.tint_5   { cursor: pointer; background-color: #FD0;}
.tint_6   { cursor: pointer; background-color: #FC0;}
.tint_7   { cursor: pointer; background-color: #FB0;}
.tint_8   { cursor: pointer; background-color: #F90;}
.tint_9   { cursor: pointer; background-color: #F70;}
.tint_10  { cursor: pointer; background-color: #F50;}
.active   {background-color: Bisque;}

/* OVERRIDE SELECTION COLOR */
::-moz-selection { background: #D9D9D9; }
::selection { background: #D9D9D9; }


ul#menu {
        width: 100%;
        height: 200px;
    }

div.annotations {
    font-style: normal;
    font-weight: normal;
    font-family: "Linux Libertine", "Liberation Serif", "Hoefler Text", Georgia, serif; 
    background-color: white;
    font-size: 14px;
    line-height: 17px;
}
div.comment-entry {
    background-color: white;
    position: relative;
    z-index: 10;
    float: right;
    max-width: 50%;
    color: Coral;
    border-top: 1px solid Coral;
    padding-top: 6px;
    margin-bottom: 6px;
    margin-right: -140px;
    clear: both;
}
p.comment-infos {
    color: #D9D9D9;
    font-family: NotCourierSans, Courier, Sans-Serif; 
    font-size: 11px;
}
p.close a {
    position: relative;
    z-index: 10;
    float: right;
    margin-right: 0.25em;
    color: black;
    border: none;
    font-weight: bold;
    margin-top: -6px;
}
p.close a:hover {
    color: gray;
}
div#annotate {
    font-family: NotCourierSans, Courier, Sans-Serif; 
    font-weight: normal;
    font-style: normal;
    color: Gray;
    font-size: 11px;
    border-top: 1px solid Coral;
    border-bottom: 1px solid Coral;
    text-align: center;
    margin: 2em 6em;
    display: none;
}
div#annotate textarea,
div#annotate input {
    font-size: 13px;
    color: Coral;
    background-color: white;
    border: 1px solid #D9D9D9;
    font-family: "Linux Libertine", "Liberation Serif", "Hoefler Text", Georgia, serif; 
}
div#annotate-buttons input {
    font-size: 11px;
    font-family: NotCourierSans, Courier, Sans-Serif; 
   margin-right: 0.5em;
   padding: 2px 4px;
}
