#blocspicture pre {
   color: Coral !important;
}

ul, li {
    list-style: none;
    padding-left: 0;
}

div#nav {
    background-color: black;
    color: white;
    padding: 1em;
    width: 95%;
    margin-bottom: 1em;
    padding-right: 2em;
}
div#nav h3 {
    display: inline;
}
div#header {
    margin: 1em 0;
}
div#sub-header {
    display: none;
}

/*div#nav h1 {*/
    /*font-size: 2em;*/
    /*display: inline;*/
    /*margin-right: 0.4em;*/
    /*font-weight: bold;*/
/*}*/
div#page {
    width: 750px;
}
div#header a {
    color: #D9D9D9;
}
#menu {
    width: 225px;
}
